body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:whitesmoke;
    font-family: cursive;
}
.container {
    background: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
}
h1 {
    font-size: 24px;
    text-align:center;
    margin-bottom : 15px;
}
label {
    display: block;
    text-align: left;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #238a68;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn-google {
    background-color: #000000;
    margin-top: 7px;
    color: white;
}
.login-link {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}
.login{
    color: #238a68;
}
.img{
    width: 20px;
    height: 20px;
    vertical-align: middle;

}
.btn-google img{
padding-right: 8px;
}